.hdr3-wrapper{
    background-color: #AB2A19;
    height: 50px;
    margin-top: 0px;
    padding: 24px 0px 24px 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hdr-logo{
    margin-left: 4%;
    padding: 10px 30px 10px 0px;
    display: inline;
}

.hdr3-shlf-nav{
    background-color: #D34735;
    color: white;
    height: 99px;
    width: 20%;
    margin-left: 40px;
    padding: 0px 0px 0px 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 3.0em;
    font-weight: bold;
 }

 .hdr3-bin-nav{
    background-color: #ED6B5A;
    color: white;
    height: 98px;
    width: 70%;
    padding: 0px 0px 0px 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 3.0em;
    font-weight: bold;
 }

/* .inv-img {
    max-width: 25%;
    max-height: 7%;
} */

.img-1 {
    width: 10%;
    max-width: 25%;
    max-height: 7%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    display: inline;
}

.input-wpr {
    margin-left: 34%;
    font-weight: bold;

}

.input-label {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-box {
    border-radius: 7px;
    width: 75%;
    height: 90px;
    border: 1px solid #ED6B5A;
    font-size: 3.0em;
    font-weight: bolder;
    padding: 0px 20px;
}

.inv-btn-wpr {
    margin-left: 26%;
    margin-top: 10px;
}

.inv-btn {
    text-align: center;
    background-color: #D8D8D8;
    color: black;
    width: 24%;
    height: 100px;
    margin: 50px 11%;
    border: none;
    font-size: 3.0em;
    font-weight: bold;
    border-radius: 7px;
    opacity: 1
}