.hdr2-wrapper{
    background-color: #AB2A19;
    height: 50px;
    width: 100%;
    margin-top: 0px;
    padding: 24px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hdr-logo{
    margin-left: 10%;
    padding: 10px 30px 10px 0px;
    display: inline;
}

.hdr2-nav{
    background-color: #D34735;
    color: white;
    width: 100%;
    margin-left: 95px;
    padding: 21px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 3.0em;
    font-weight: bold;
 }

.bin-btn-wpr{
    background-color: white;
    margin-left: calc(100% - 75%);
}

.bin-btn{
    text-align: left;
    background-color: #ED6B5A;
    color: white;
    width: 60%;
    height: 70px;
    margin: 20px;
    border: none;
    padding-left: 150px;
    display: block;
    font-size: 3.0em;
    font-weight: bold;
    border-radius: 7px;
    opacity: 1;
}

a {text-decoration: none;}

a:visited{color: white;}

.sl-btn:hover {opacity:0.8;}

.add-inv-btn{
    text-align: left;
    background-color: #FFB8AF;
    color: white;
    width: 60%;
    height: 70px;
    margin: 20px;
    border: none;
    padding-left: 150px;
    display: block;
    font-size: 3.0em;
    font-weight: bold;
    border-radius: 7px;
    opacity: 1;
}