.Header {
    background-color: #AB2A19;
    height: 120px;
    width: 100%;
}

.hdr-wrapper{
    margin-top: 0px;
    padding: 24px;
}

.hdr-logo{
    margin-left: 25%;
    padding: 28px 30px 10px 0px;
    display: inline;
}

.hdr-element-2{
    color: white;
    font-size: 3.0em;
    font-weight: bold;
    display: inline;
}